<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--mybatis配置文件-->
<configuration>
    <!-- 配置别名   -->
    <typeAliases>
        <!-- 给实体类的包起别名 -->
        <package name="xyz.chen.pojo"/>
    </typeAliases>
</configuration>